.box {
  color: white;
  background-color: black;
  /* width: 200px; */
  height: 270px;
  --mask: linear-gradient(-45deg, #0000 11.31px, #000 0);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.box .character-img {
  border-bottom: 2px var(--marvel-red) solid;
  width: 100%;
}

.box .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: white;
  margin: auto initial;
  text-transform: uppercase;
}

.box .title-container {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
