.searchbar {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid grey;
  margin: 60px 0;
  padding-bottom: 8px;
}

.searchbar input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.searchbar img {
  margin-right: 6px;
}
