.comicsContainer {
  margin: 48px;
}

.slider {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 18px;
}

.comicsTitle {
  text-transform: uppercase;
}

.emptyComics {
  padding-left: 12px;
}
