:root {
  font-family: Roboto Condensed;

  background-color: #f0f0f0;
  color: #242424;

  /* Colors */
  --marvel-red: #ec1d24;
  --marvel-black: #000000;
  --marvel-white: #ffffff;
  --marvel-grey: #aaaaaa;
}

.MarvelAttribution {
  display: block;
  color: var(--marvel-black);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin: 12px;
}

body {
  margin: 0;
}
