.banner {
  background-color: var(--marvel-black);
  color: var(--marvel-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  --mask: linear-gradient(-45deg, #0000 11.31px, #000 0);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.image {
  width: 100%;
  height: auto;
}

.information {
  margin: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

h1 {
  font-size: 24px;
  margin: 8px 0;
}

@media (min-width: 460px) {
  .banner {
    flex-direction: row;
  }

  .image {
    width: auto;
    height: auto;
  }

  .description {
    margin-top: 8px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .information {
    min-width: 250px;
    max-width: 400px;
    max-height: 200px;
  }
}
